@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}

p {
  line-height: 1.6;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

/* ------------------------------------------------------------------ */
/* Navigation Bar */

.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 44px;
}

.local-nav {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #ddd;
}

.global-nav,
.local-nav {
  padding: 0 1rem;
}

.global-nav-links,
.local-nav-links {
  max-width: 1000px;
  /* 부모요소인 global-nav와 같은 높이를 가질 수 있도록 */
  /* 원래는 글자크기만큼의 높이를 가지고있음 */
  height: 100%;
  /* 센터 정렬을 하기 위해 */
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.global-nav-links {
  justify-content: space-between;
}

.local-nav-links .logo {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}

.local-nav-links a:not(.logo) {
  margin-left: 2em;
  font-size: 0.8rem;
}

/* ---------------------------------------------------- */
/* Main Section  - Location */

.scroll-section {
  padding-top: 50vh;
}

#scroll-section-0 h1 {
  position: relative;
  top: -10vh;
  z-index: 5;
  font-size: 12vw;
  text-align: center;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;

  height: 3em;
  font-size: 6vw;
  opacity: 0;
}

.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

.description {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 3vw;
  color: #888;
}

.description strong {
  float: left;
  margin-right: 0.2em;
  font-size: 9vw;
  color: rgb(29, 29, 31);
}

.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 3vw;
}

#scroll-section-2 .main-message {
  font-size: 10vw;
}

#scroll-section-2 .second {
  top: 10%;
  left: 40%;
}

#scroll-section-2 .third {
  top: 15%;
  left: 45%;
}

.pin {
  width: 1px;
  height: 100px;
  background: rgb(29, 29, 31);
}

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 6vw;
  color: #888;
}

.mid-message strong {
  color: rgb(29, 29, 31);
}

.canvas-caption {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 3vw;
  color: #888;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  background-color: #b0d8e7;
}

/* ----------------------------------- */
/* Main Section - Animation */

.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

.desc-message {
  font-weight: bold;
  width: 40%;
  opacity: 0;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}
